
@{
    ViewBag.Title = "main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <h2>main</h2>

    <h4>@Html.ActionLink("Priority CSS Ranking", "Index")</h4>
    <h4>@Html.ActionLink("Padding", "attribute_padding")</h4>
    <h4>@Html.ActionLink("Margin", "attribute_margin")</h4>
    <h4>@Html.ActionLink("Display", "attribute_display")</h4>
    <h4>@Html.ActionLink("Position", "attribute_position")</h4>
</div>